.spyproject/
Codigo y precio productos  HOSPITAL LOS ANDES.xlsx
Codigo y precio productos Datos Casinos.xlsx
Codigo y precio productos HOSPITAL PSIQUIATRICO.xlsx
Codigo y precio productos San HCVB.xlsx
Final.rar
Instrucciones de Uso.txt
P282
P42
PRUEBA info HOSPITAL PSIQUIATRICO.xlsx
PRUEBA tasa HOSPITAL PSIQUIATRICO.xlsx
Presentacion final 2.pptx
Presentacion final.pptx
Resultados
Tasa demanda Datos Casinos.xlsx
Tasa demanda datos  HOSPITAL LOS ANDES.xlsx
Tasa demanda datos HOSPITAL PSIQUIATRICO.xlsx
Tasa demanda datos San HCVB.xlsx
__pycache__/
ahora si.xlsx
ahora siii.xlsx
asdfsafa
build/
capa_gui.spec
dist/
ejecucion_automatica_prog_est.r
error.png
guardar_paver
icono_cp.ico
instalacion_lib_r.py
multipros.py
nueva prueba 1
p91 q1 test
p91 sin thresh
p91 tresh 0
para p91
para p91 otro
prueba datos ej P2
prueba datos ej p1
prueba p91
prueba_conR
prueba_datos_hos_los_andes
respaldo_prog_est.r
resul_prueba_concon.xlsx
thread.py